#map{
  width: 60%;
  height: 50vh;
  margin-left: 20%;
  border-color: aqua;
}
#app{
  
}
#bar{
  height: 8%;
  background-color: black;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 290%;
}

#bar span{
  padding: 1%;
}

#search{
  border-radius: 25px;
  width: 30%;
  height: 30%;
  padding: 5px;
}

#searcher{
  margin-top: 0%;
  text-align: center;
}
#image{
  width: 30%;
}
#login{
}